html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    height: 100%;
    background-color: #25292c;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@font-face {
    font-family: 'titillium_webregular';
    src: url('./fonts/titilliumweb-regular-webfont.woff2') format('woff2'), 
        url('./fonts/titilliumweb-regular-webfont.woff') format('woff'), 
        url('./fonts/titilliumWeb-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-size: 300%;
    margin-bottom: 0px;
    color: black;
    font-family: titillium_webregular;
}

p {
    font-size: 150%;
    margin-bottom: 0px;
    color: black;
    font-family: titillium_webregular;
}
p.font2 {
    font-size: 150%;
    margin-bottom: 0px;
    color: black);
    font-family: titillium_webregular;
}

h2 {
    font-size: 250%;
    margin-bottom: 0px;
    color: black;
    font-family: titillium_webregular;
}
.topnav {
    background-color: #25292c;
    overflow: hidden;
    font-family: 'titillium_webregular';
    color: rgba(255, 255, 255, 0.9);
}

.topnav-container {
    max-width: 1440px;
    margin: auto;
}

.topnav a {
    float: left;
    font-family: 'titillium_webregular';
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px 50px 10px 0px;
    text-decoration: none;
    font-size: 150%;
}